/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/

/* base style */
:root {
  --var-black: #2C2C2C;
  --var-white: #ffffff;
  --var-red: #FF6309;

}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: var(--var-white);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--var-white);
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}


/* header */
header {
  z-index: 9999;
}

header nav {
  background-color: var(--var-black);
  color: var(--var-white);
}

.nav-item a {
  text-transform: uppercase;
  color: var(--var-white);
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.nav-item a:hover {
  cursor: pointer;
  color: #d9d8d8;
}

.nav-item a:active,
.nav-item a:focus {
  color: #d9d8d8;
  ;
}

.search-icon {
  font-size: 22px;
  cursor: pointer;
}

/* hero section */
.hero-section {
  position: relative;
  margin-top: -100px;
  left: 0;
  background-image: url(../images/banner.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: ;
  background-repeat: no-repeat;
  z-index: -14;
}

.hero-content {
  margin-top: 8rem;
  position: relative;
  bottom: -50px;
}

.hero-title {
  font-size: 124px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.hero-content {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
}

.hero-btn {
  background-color: var(--var-red);
  font-size: 29px;
  padding: 1rem 4rem;
  border-radius: 3px;
  margin-top: 1.5rem;
}

/* feature section */
.feature-section {
  background-color: var(--var-red);
  position: relative;
  padding: 4rem 0;
}

.section-title {
  padding: 2rem 0;
}

.section-title h1 {
  font-size: 75px;
}

.feature-section .card {
  border: none;
  border-radius: 0;
}

.feature-section .card img {
  max-height: 350px;
}

.feature-section .card-body {
  background-color: var(--var-black);
}